button {
  margin-right: 10px;
}

#main-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app-header {
  flex: none;
  margin-bottom: 50px;
}

#app-body {
  flex-grow: 2;
}

#app-footer {
  flex: none;
}
