<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName class="form-control" id="hero-name-input" />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''" class="btn btn-primary" id="add-hero-button">
    add
  </button>
</div>
<div class="container">
  <div class="row" *ngFor="let hero of heroes">
    <div class="col-2">{{hero.id}}</div>
    <div class="col">
      <a routerLink="/detail/{{hero.id}}">{{hero.name}}</a>
    </div>
    <div class="col-2">
      <button class="btn btn-danger" title="delete hero"
        (click)="delete(hero)">x</button>
    </div>
  </div>
</div>
